/*html,body{
	height: 100vh;
	width: 100vw;
	/*background-image:
	url('Images/Background%20	Image.png');
	background-position: 0% 9%;
	background-size: cover;
	background-repeat: no-repeat;
	
}*/

nav{
	
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-bottom: 1px solid rgba(0,0,0,.0975);
	background-color: white !important;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #fafafa;
}


/*.nav-link .navbar-brand {
	color: black !important;
}
.nav-link {
	font-size: 1.3vw;
}*/


@media screen and (max-width: 600px) {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}
}
.content {
	margin-top:17vw;
	margin-bottom: 35vw;
}

h2{
	text-indent: 3%;
	opacity: .75;
	text-align: left;
	
}
h3{
	text-indent: 3%;
	opacity: .75;
	text-align: center !important;
	line-height: 5%;
}

p{
	font-size: 15px;
	text-indent: 4%;
	opacity: .7;
	
}



input[type="text"]{
	width: 25vw;
}
textarea{
	width: 52vw;
}

.btn1 {
	float: left;
	background-color:
	transparent !important;
	color: rgba(0, 0, 0, 0.616) !important;
}


.count {
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	padding-top: 12vh;
}

.image {
	
	width: 160px;
	height: 160px;
}

.object-fit_cover {
	object-fit: cover;

}


/*.AboutUs {
	background-image: url("Images/IMG_3367 widget 60 opacity.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height:0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}*/
